html,body{
    margin: 0px;
    width: 100%;
    background-color: #1D1D1D;
}
button{
    border: 0;
    margin: 0;
    padding: 0;
    background-color:unset  ;
    cursor: pointer;
}
@media(min-width:1060px){
    .header{
        background-image: url(./patern/patern-blur-background-1.png);
        background-size: 1131px;
        background-position-y: 50px;
        background-position-x:50%;
        background-size:auto;
        background-repeat: no-repeat;
    }
 
}
@media(min-width:1060px){
    body{
        background-image: url(./patern/pattern-background-4.png);
        background-position-y: 1198px;
        background-repeat: no-repeat;
    }
}